.menu{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: #146356;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
    align-items: center;
    cursor: pointer;
    z-index: 23;
    
}
a{
    text-decoration: none;
    color: rgb(223, 213, 215);
    margin-right: 10px;
}

.datosContacto{
    margin-left: 10px;
    display: flex;
    gap: 1rem;
    color: rgb(223, 213, 215);
    align-items: center;
}
.linkedin{
    height: 4rem;
    margin-top: 5px;
    cursor: pointer;
}