.title_tecnologies {
    color: #181D31;
    font-size: 1.4rem;
    text-align: center;
}
.logo {
    height: 90px;
}
.logos_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    -webkit-animation: scale-up-bottom 7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  .container_tecnologies{
          height: 200px;
          background-color: #678983;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
  }

  @media (max-width: 925px){
          .logo{
                  height: 70px;
          }
          
  }
  @media (max-width: 740px){
          .container_tecnologies{
                  height: 240px;
          }
}
  @media (max-width: 420px){
        .logo{
                height: 50px;
        }
}